.home {
	display: flex;
	flex-direction: row;
}

.userlist {
	background-color: rgba(128, 139, 235, 0.966);
	color: white;
	
	height: 90vh;
    overflow-x: none;
	overflow-y: scroll;
	/* height:max-content; */
	/* border-right: 1px solid blue; */
}

.chatcontent {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
    position: relative;
        overflow-y: scroll;
        height: 90vh;
        

}
.chatcontent>div>.chatname{
    color: white;
    background-color: rgb(130, 130, 204);
    width: 100vh;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.own {
	text-align: right;
}
.left {
	text-align: left;
}

.messagesdiv{
    display: flex;
    flex-direction: column;
    position: absolute;
}
.messages {
	display: flex;
    flex-direction: column;
	width: 100%;
	margin-bottom: 20px;

}

.messages > p > * {
	background-color: rgb(250, 18, 18);
	color: azure;
	/* border-top-left-radius: 20px; */
	padding: 3px 5px;
}

.messages > p > small {
	font-size: xx-small;
}

.messages > p > span {
	color: white;
	background-color: blue;
	border-radius: 20px;
}

.messages > p.leftText {
	color: white;
	background-color: blueviolet;
}

.inputFields{
    position:fixed;
    bottom: 0;
    top: 600px;
}

/* .inputf{
    display: flex;
    flex-direction: row;
} */
.inputf>form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.inputf>form>input{
    display: flex;
    width: 500px;
    border: 1px solid blue;
    border-radius: 20px;
    padding:10px 20px;
    margin-right: 10px;
}
.inputf>form>button{
    color: white;
    background-color: rgb(70, 28, 110);
    border: none;
    border-radius: 20px;
    padding:10px 20px;
}

.inputf>form>button:hover{
    color: rgb(70, 28, 110) ;
    background-color: white;
    border: 1px solid  rgb(70, 28, 110);
}